*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 500px;
}

footer{
  height: 500px;
  background-color: #23272a;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar, .header-text, .card-img, .card-text, .last-card-text, .last-card-img{
  border: dashed;
}


/* HEADER */
.header-top{
  display: flex;
  align-items: center;
  height: 20%;
  background-color: #add8e6;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  background-color: blanchedalmond;
  
}

.navbar nav {
  display: flex;
  justify-content: center;
  width: 60%;
}

.navbar nav ul{
  display: flex;
  padding: 0 200px;
  border-left: dashed;
  border-right: dashed;
  list-style: none;
}

.navbar nav ul li{
  padding: 10px;
}

.navbar button{
  background-color: blanchedalmond;
  border: none;
}

.header-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: #00008b;
}

.header-text{
  width: 60%;
  height: 80%;
  background-color: brown;
}



/* MAIN */
.card{
  height: 400px;
}

.card:nth-child(even){
  background-color: lightgrey;
}

.card.container{
  display: flex;
  align-items: center;
}

.card-img, .card-text{
  height: 80%;
}

.card-img{
  width: 60%;
  background-color: aqua;
}

.card-text{
  width: 40%; 
  background-color: chocolate;
}



.last-card{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
 height: 800px;
  background-color: lightgrey;
}

.last-card-text, .last-card-img{
  width: 100%;
}

.last-card-text{
  height: 15%;
  background-color: chocolate;
}

.last-card-img{
  height: 50%;
  background-color: aqua;
}



/* FOOTER */
.footer-top{
  display: flex;
  align-items: center;
  height: 80%;
}

.footer-top div, .footer-top nav{
  height: 80%;
}

.footer-top div{
  width: 30%;
  background-color: darkslategray;
}

.footer-top nav{
  display: flex;
  width: 70%;
}

.footer-top nav ul{
  flex-grow: 1;
  background-color: grey;
  border: 1px white dashed;
}

.footer-bottom{
  display: flex;
  align-items: center;
  height: 20%;
  border-top: 1px gray solid;
}








