*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 500px;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}



/* HEADER */
.header-top{
  display: flex;
  align-items: center;
  height: 20%;
  background-color: #add8e6;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  background-color: blanchedalmond;
}

.navbar nav ul{
  display: flex;
  list-style: none;
}

.navbar nav ul li{
  padding: 10px;
}

.navbar button{
  background-color: blanchedalmond;
  border: none;
}


.header-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: #00008b;
}

.header-text{
  width: 60%;
  height: 60%;
  background-color: brown;
}